.about {
    padding: 62px 0;
}
.about__text {
    max-width: 696px;
}
.about__text + * {
    margin-top: 72px;
}
.about__title + * {
    margin-top: 24px;
}
.about__descr {
    color: #BFBDB2;
    font-size: 16px;
    line-height: 1.5;
}
.about__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 384px);
    gap: 24px 32px;
}
.about__item {
    padding: 6px 6px 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
}
.about__item_top {
    background-image: url(../img/about/top.svg);
}
.about__item_masters {
    background-image: url(../img/about/masters.svg);
}
.about__item_garanty {
    background-image: url(../img/about/garanty.svg);
}
.about__item-title {
    font-size: 22px;
    text-transform: uppercase;
}
.about__item-title + * {
    margin-top: 8px;
}
.about__item-descr {
    color: #BFBDB2;
    font-size: 16px;
    line-height: 1.3;
}