.preload {
    position: relative;
}
.preload::after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    border: 12px #F6F3E3;
    border-radius: 50%;
}
